.recipe-card {
  width: 350px;
  height: 300px;
  overflow: scroll;
  background-color: hsl(44, 95%, 85%);
}

.recipe-card::-webkit-scrollbar {
  display: none;
}

.recipe-card::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipe-card .button-container button {
  margin-right: 10px;
}

.recipe-card .button-container {
  display: flex;
  justify-content: flex-end;
}

.recipe-title {
  font-weight: 600;
}

.subheading {
  margin-bottom: 0;
}

.ingredients-heading, .instructions-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
}

li::marker {
  content: '◦';
  font-weight: bold;
  font-size: 18px;
}

li span {
  position: relative;
  left: 5px;
}
