.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(84, 82, 82, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}

.our-modal {
  position: relative;
}

.close-button {
  position: absolute;
  background-color: #f14668;
  top: -15px;
  right: -15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}
.close-button:hover {
  background-color: #ef2e55;
}
.close-button:focus {
  background-color: #ef2e55;
}
