header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7EB2DD;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.header-right {
    display: flex;
    gap: 5px;
}

header a {
    border-radius: 5px;
}

.active {
    text-decoration: underline;
}
